body{
				background-image:url(sign-up.jpg);
				background-size:cover;
				padding:0px;
				margin:0px;
				}
.head{margin-top:15px;
				font-siz:35px;
				color:white;
				text-align:center;
				}
.part1{
				font-size:35px;
				font-family:"baloo da 2";	
				}
.part2{
				font-size:40px;
				font-family:"Parisienne";	
				}
.speech{
				margin-top:50%;
				color:white;
				text-align:center;
				font-weight:bold;
				font-family:"baloo da 2";
				}
.signup, .login{
				padding:10px;
				text-align:center;
				background-color:white;
				width:50%; 
			 font-family:"baloo da 2";
				font-size:15px;
				display:block;
				margin:0px auto 0px auto ;
				border-radius:5px;
				}
.login{
				border-top:1px solid black;
				}
a{
				text-decoration:none;
				}
